<header>
    <div class="container">
        <h1>NGO Event Organizer</h1>
        <nav>
            <ul>
                <li><a href="Event.html">Home</a></li>
                <li><a href="Aboutus.html">About Us</a></li>
                <li><a href="create-event.html">Create Event</a></li>
                <li><a href="Event-page.html">Events</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                <li><a href="Login.html">Login</a></li>
                <li><a href="Signup.html">Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>


<section id="about">
    <div class="container">
        <h2>About Us</h2>
        <link rel="stylesheet" href="styles.css">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut odio libero. Suspendisse potenti. Nullam ut nisi quis sem luctus placerat. Integer vel nisl a est lobortis vestibulum. Nullam tincidunt sagittis velit, vel ultricies arcu ultricies eu. Fusce nec eleifend elit. Phasellus accumsan nulla non nunc fermentum, sit amet molestie mauris aliquam. Sed sed sollicitudin odio. Donec eu nulla ac dolor facilisis iaculis.</p>
        <p>Praesent lobortis nisi eu eros semper, eget aliquet neque lacinia. Cras at semper libero, sit amet finibus orci. Donec vitae ultricies eros. Nulla nec eros vitae est molestie sollicitudin. Cras quis orci vestibulum, fringilla magna eget, bibendum neque. Sed ut eros sit amet risus suscipit eleifend nec nec mauris. Suspendisse potenti.</p>
    </div>
</section>
