<header>
    <div class="container">
        <h1>NGO Event Organizer</h1>
        <nav>
            <ul>
                <li><a href="Event.html">Home</a></li>
                <li><a href="Aboutus.html">About Us</a></li>
                <li><a href="create-event.html">Create Event</a></li>
                <li><a href="Event-page.html">Events</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                <li><a href="Login.html">Login</a></li>
                <li><a href="Signup.html">Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>



<section id="events">
    <div class="container">
        <h2>Upcoming Events</h2>
        <link rel="stylesheet" href="styles.css">
        <div id="eventsList"></div>
    </div>
</section>
<script>
    // Sample events data (replace with actual data from your backend)
const eventsData = [
    {
        name: "Play the sport",
        date: "2024-06-15",
        time: "10:00",
        location: "Hyderabad",
        description: "The goal of the program is to provide youth with a healthy activity, to combat engagement in anti-social activities,  to address food insecurity issues faced by the participants, encourage the participants to pursue classroom education, and to educate participants about important issues that affect them.",
        targetGoal: 1000
    },
    {
        name: "The Peak Program",
        date: "2024-07-20",
        time: "14:00",
        location: "Banglore",
        description: "The PEAK Program promotes education and knowledge for disadvantaged students in higher education. The program provides students with educational scholarships for college, technical school or university, which cover tuition, housing, living expenses, access to HCC’s mentorship programs and inclusion in HCC’s family culture. The PEAK Program is open to all and students are admitted based on merit, motivation, and academic dedication",
        targetGoal: 1500
    }
];
