<header>
    <div class="container">
        <h1>NGO Event Organizer</h1>
        <nav>
            <ul>
                <li><a href="Event.html">Home</a></li>
                <li><a href="Aboutus.html">About Us</a></li>
                <li><a href="create-event.html">Create Event</a></li>
                <li><a href="Event-page.html">Events</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                <li><a href="Login.html">Login</a></li>
                <li><a href="Signup.html">Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="signupForm" class="modal">
    <form class="modal-content" id="signupFormContent">
        <span class="close" onclick="closeSignupForm()">&times;</span>
        <h2>Sign Up</h2>
        <link rel="stylesheet" href="styles.css">
        <div class="form-group">
            <label for="newUsername">Username:</label>
            <input type="text" id="newUsername" name="newUsername" required>
            <div id="usernameError" class="error"></div>
        </div>
        <div class="form-group">
            <label for="newPassword">Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
            <div id="passwordError" class="error"></div>
        </div>
        
        <button type="submit" class="btn">Sign Up</button>
    </form>
</div>
<script>
    // Function to handle signup form submission
document.getElementById("signupFormContent").addEventListener("submit", function(event) {
    event.preventDefault();

    // Get form inputs
    const usernameInput = document.getElementById("newUsername");
    const passwordInput = document.getElementById("newPassword");
    const usernameError = document.getElementById("usernameError");
    const passwordError = document.getElementById("passwordError");

    // Reset previous error messages
    usernameError.textContent = "";
    passwordError.textContent = "";

    // Get values from input fields
    const username = usernameInput.value.trim();
    const password = passwordInput.value.trim();

    // Validate username and password
    let isValid = true;

    if (username === "") {
        isValid = false;
        usernameError.textContent = "Username is required";
    }

    if (password === "") {
        isValid = false;
        passwordError.textContent = "Password is required";
    } else if (password.length < 6) {
        isValid = false;
        passwordError.textContent = "Password must be at least 6 characters long";
    }

    // If form is valid, proceed with signup
    if (isValid) {
        // Simulate storing user information (replace with actual backend logic)
        const user = {
            username: username,
            password: password
        };

        // Display success message (replace with actual success message)
        alert("Signup successful! You can now login with your credentials.");

        // Clear form inputs
        usernameInput.value = "";
        passwordInput.value = "";

        // Close signup form
        closeSignupForm();
    }
});

// Function to close signup modal
function closeSignupForm() {
    const signupModal = document.getElementById('signupForm');
    signupModal.style.display = "none";
}

</script>